```plaintext
Java tarafından oluşturulan derleme dosyaları
*.class
*.jar
*.war
*.ear

Derleme dizinleri
/bin/
/build/
/dist/
/target/
out/

IDE'ye özgü dosyalar

Eclipse
.metadata/
*.classpath
*.project
*.settings/

IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

NetBeans
nbproject/private/
nbbuild/
build/
dist/
.nb-gradle/

Maven
.mvn/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

Gradle
.gradle/
build/

MacOS ve Windows sistem dosyaları
.DS_Store
Thumbs.db
desktop.ini

Log dosyaları
*.log

Geçici dosyalar
*.tmp
*.swp
*.swo
*.bak
```
